@model Artist

@{
    ViewData["Title"] = "Details of artist";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Artists/Artists_Details.css" />
</head>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card artist-details-card">
                <div class="card-header text-center text-white bg-success">
                    <h1>Details for @Model.ArtistName</h1>
                </div>
                <div class="card-body">
                    <div class="form-group text-center">
                        <img class="artist-picture rounded-circle" id="ProfilePicturePreview" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ProfilePictureURL" class="control-label"></label>
                        <input asp-for="ProfilePictureURL" class="form-control" id="ProfilePictureURL" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="ArtistName" class="control-label"></label>
                        <input asp-for="ArtistName" class="form-control" id="ArtistName" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="ArtistBio" class="control-label"></label>
                        <textarea asp-for="ArtistBio" class="form-control" id="ArtistBio" readonly></textarea>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-outline-success float-right" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            updateImagePreview();
        });

        function updateImagePreview() {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePictureURL").val();
        }
    </script>
}
