<div>
    <div class="col-md-6 offset-3">
        <h1 class=" text-info">This is NoFound View </h1>
        <hr/>
        <a class=" btn btn-outline-success" asp-controller="Albums" asp-action="Index">Home Page</a>
    </div>
</div>

