.label-card {
    margin-top: 20px;
    background-color: #f9f9f9;
    border-color: #4CAF50;
}

.label-image {
    width: 150px;
    height: 150px;
    margin: 10px auto;
}

.label-action-button {
    margin: 5px;
}

    .label-action-button i {
        margin-right: 5px;
    }

.btn-outline-primary {
    border-color: #4CAF50;
    color: #4CAF50;
}

    .btn-outline-primary:hover {
        background-color: #4CAF50;
        color: #ffffff;
    }
