@using RecordClique.Data.Extensions;
@model IEnumerable<RecordClique.Models.NewsFeedLog>

@{
    var context = ViewData["Context"] as RecordClique.Data.AppDbContext;
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/NewsFeed/NewsFeed_Index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
</head>

<div class="container">
   

    @foreach (var item in Model)
    {
        <div class="card news-feed-card">           
            <div class="card-body">
                <p>@item.DisplayAction(context)</p>
            </div>
        </div>
    }
</div>
