
.create-artist-card {
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    overflow: hidden;
    transition: all 0.3s ease;
}

    .create-artist-card:hover {
        transform: scale(1.02);
        box-shadow: 0px 15px 25px rgba(0,0,0,0.3);
    }

    .create-artist-card .card-header {
        background: #28a745;
        border-bottom: none;
    }

    .create-artist-card .artist-picture {
        max-width: 150px;
        transition: all 0.3s ease-in-out;
    }

        .create-artist-card .artist-picture:hover {
            transform: scale(1.1);
        }

    .create-artist-card .submit-btn {
        transition: all 0.3s ease;
    }

        .create-artist-card .submit-btn:hover {
            background: #28a745;
            border-color: #28a745;
            color: white;
        }
