
body {
    background-color: #ebebeb;
}


.artist-card {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

    .artist-card:hover {
        transform: scale(1.03);
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    }

.artist-image {
    width: 150px;
    height: 150px;
    margin: 10px auto;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
}

.card-text {
    font-size: 0.9em;
    color: #555;
}

.artist-action-button {
    margin: 5px;
}

    .artist-action-button i {
        margin-right: 5px;
    }


.btn-outline-primary {
    border-color: #4CAF50; 
    color: #4CAF50; 
}

    .btn-outline-primary:hover {
        background-color: #4CAF50; 
        color: #ffffff; 
    }
