@model RecordClique.Models.Album

@{
    ViewData["Title"] = "Edit";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Albums/Albums_Edit.css" />
</head>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card edit-album-card">
                <div class="card-header text-center"style="background-color: #28a745; color:white;">
                    <h1>Edit Album</h1>
                </div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="AlbumName" class="control-label"></label>
                            <input asp-for="AlbumName" class="form-control" />
                            <span asp-validation-for="AlbumName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AlbumDescription" class="control-label"></label>
                            <input asp-for="AlbumDescription" class="form-control" />
                            <span asp-validation-for="AlbumDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <span>Price</span>
                            <input asp-for="AlbumPrice" class="form-control" />
                            <span asp-validation-for="AlbumPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AlbumCoverURL" class="control-label"></label>
                            <input asp-for="AlbumCoverURL" class="form-control" />
                            <span asp-validation-for="AlbumCoverURL" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <span>Release date</span>
                            <input asp-for="AlbumReleaseDate" class="form-control" />
                            <span asp-validation-for="AlbumReleaseDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <span>Genre</span>
                            <input asp-for="AlbumGenre" class="form-control" />
                            <span asp-validation-for="AlbumGenre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <span>Label</span>
                            <select asp-for="LabelID" class="form-control" asp-items="ViewBag.LabelID"></select>
                            <span asp-validation-for="LabelID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <span>Artist</span>
                            <select asp-for="ArtistId" class="form-control" asp-items="ViewBag.ArtistId"></select>
                            <span asp-validation-for="ArtistId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input style="background-color: #28a745;" type="submit" value="Save" class="btn btn-primary submit-btn" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
